---
layout: default
title: Announcements
---

<section class="section">
    <div class="content container">
        {% assign sorted = site.announcements | sort:"date" | reverse %}
        {% for item in sorted limit:5 %}
            <h1 class="title">
                {{ item.date | date: "%e %b %Y" }} - {{ item.title }}
            </h1>

            {{ item.content | markdownify }}
            
        {% endfor %}
    </div>    
</section>

<!-- <section class="section">
    <div class="container">
        {% for item in site.announcements %}
            {{ item.content }}            
        {% endfor %}
    </div>    
</section> -->