<aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
    <!-- <p class="menu-label is-hidden-touch">Navigation</p> -->
    <ul class="menu-list">
        {% for item in site.data.navigation %}
        <li>
            <a  {% if item.newtab %} target="_blank" rel="noopener noreferrer" {% endif %} href="{{ item.link }}" class="{% if page.url == item.link %}is-active{% endif %}">
                <span class="icon"><i class="fa {{ item.icon }}"></i></span> {{ item.name }}
            </a>
        </li>
        {% endfor %}
        <li>
            <a target="_blank" rel="noopener noreferrer" href="https://www.surveymonkey.com/r/NBXB2BZ" class="has-background-warning">
                <span class="icon"><i class="fa fa-edit"></i></span>
                Take the choir survey and give your feedback!
            </a>
        </li>
    </ul>
</aside>